<a href="https://colab.research.google.com/github/aggelikitzani/datastories_for_emme/blob/main/%CE%91%CE%BD%CF%84%CE%AF%CE%B3%CF%81%CE%B1%CF%86%CE%BF_Homework_txt.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Άσκηση 1**

1. Σε ένα νέο κελί κώδικα, ξαναγράψτε τον παρακάτω κώδικα, έτσι ώστε να τρέχει χωρίς να πετάει error.

In [ ]:
my name = "Vasilis"
my-email = bill2005@example.com
myAM_4first#digits = 9983
2FavoriteMovies = "Life of Bryan," + " The meaning of life"

In [ ]:
myname="Vasilis"
myEmail="bill2005@example.com"
myAM_4firstdigits= 9983
TwoFavoriteMovies= "Life of Bryan," "The Meaning Of Life"

2. Tυπώστε (print) τον τύπο δεδομένων καθεμιάς από τις παραπάνω μεταβλητές

In [ ]:
myname="Vasilis"
myEmail="bill2005@example.com"
myAM_4firstdigits= 9983
TwoFavoriteMovies= "Life of Bryan," "The Meaning Of Life"
print(myname)
print(myEmail)
print(myAM_4firstdigits)
print(TwoFavoriteMovies)

Vasilis
bill2005@example.com
9983
Life of Bryan,The Meaning Of Life

**Άσκηση 2**
- Βρείτε ένα άρθρο σε ένα ειδησεογραφικό site.
- Φτιάξτε ένα νέο κελί κώδικα (ή όσα θέλετε) ακριβώς κάτω από αυτό και δημιουργήστε μεταβλητές με τα εξής στοιχεία:
  - Τίτλος άρθρου
  - Ημερομηνία δημοσίευσης
  - Όνομα site
  - url άρθρου
- Τυπώστε (print) μια πρόταση της μορφής: Το άρθρο τάδε δημοσιεύτηκε στο τάδε site την τάδε ημερομηνία και βρίσκεται στην τάδε ηλεκτρονική διεύθυνση.

In [ ]:
 title= " Σαββατοκύριακο στην Λισαβόνα "
 date= "18_01_2016"
 name= " Tstories "
 url= "https://tstories.gr/sk-sti-lisavona/"
 a="Το Αρθρο"
 b=" δημοσιεύτηκε στο"
 c=" στις "
 d=" και βρίσκεται στο "
 print((a) + (title)+ (b)+ (name)+ (c)+ (date) +(d) +(url))

Το Αρθρο Σαββατοκύριακο στην Λισαβόνα  δημοσιεύτηκε στο Tstories  στις 18_01_2016 και βρίσκεται στο https://tstories.gr/sk-sti-lisavona/

**Άσκηση 3**

Σε ένα νέο κελί, μετατρέψτε τον τύπο της μεταβλητής ή των μεταβλητών που απαιτείται, έτσι ώστε να μπορεί να εκτελεστεί σωστά η παρακάτω πράξη:

(μην γράψετε σωστά την τιμή της/τους - αλλάξτε τον τύπο δεδομένων)
(Tip: κάνετε copy-paste τις 2 τελευταίες γραμμές και κάνετε τη διόρθωση που απαιτείται στην προτελευταία γραμμή)

In [ ]:
monthly_rent = "300"
months = 12
yearly_rent = monthly_rent * months
print(yearly_rent)

300300300300300300300300300300300300

In [ ]:
monthlyRent= 300
months= 12
yearly_rent = monthlyRent*months
print(yearly_rent)

3600

**Άσκηση 4**

1. Βρείτε το αποτέλεσμα της πρόσθεσης του 132 με το 13 και τυπώστε το σαν string (σε μία γραμμή κώδικα)
2. Βρείτε το τετράγωνο του πηλίκου της διαίρεσης του παραπάνω αθροίσματος με το υπόλοιπο της διαίρεσης του 132 με το 13 και τυπώστε το σαν δεκαδικό (σε μια γραμμή κώδικα)

Tip: μπορείτε να κάνετε μία-μία τις πράξεις ώστε να ελέγχετε ότι το αποτέλεσμα της καθεμίας είναι σωστό και στο τέλος να βάλετε όλες τις εντολές σε μία γραμμή (αναγκαστικά θα υπάρχουν πολλές παρενθέσεις)

In [ ]:
addition= 132+13
print(addition)
tetragonoPilikou= ((addition)//13)
print(tetragonoPilikou)
ypoloipo= (132/13)
print (ypoloipo)

145
11
10.153846153846153

**Άσκηση 5**

Γράψτε μια γραμμή κώδικα κάτω από το παρακάτω κελί, έτσι ώστε κάθε φορά που θα το τρέχετε, να τυπώνετε (print) η τιμή της μεταβητής counter αυξημένη κατά 1.

In [ ]:
counter = 1

In [ ]:
# γράψτε τη ζητούμενη εντολή ακριβώς κάτω από τα σχόλια και πριν την εντολή print(counter)
# και τρέξτε το κελί 5-6 φορές
# κάθε φορά που το τρέχετε, θα πρέπει ο αριθμός που τυπώνεται να είναι μεγαλύτερος από τον προηγούμενο κατά 1

print(counter)